.card
  // img.card-img-top(src='http://i.pravatar.cc/300', alt='Card image cap')
  .card-block
    h4.card-title {{ user.first }} {{ user.last }}
    p.card-text
      | Some quick example text to build on the card title and make up the bulk of the card's content.
    a.btn.btn-primary(href='#') {{ user.born }}
