main.game(v-else-if="authenticated")
  nav.navigation
    button.btn.btn-link
      img.rounded(v-bind:src="user.photoURL")
    a.btn.btn-link(href='/about') Movie Trivia
    button.btn.btn-link.signout-btn(v-on:click='signOut')
      i.fa.fa-fw.fa-sign-out

  .container
    .row
      .col-sm-12
        h3.center join a game
    .row
      .game-row
        div(v-for="game in games")
          include game.pug
      .game-row
        div(v-if="games.length==0")
          .alert.alert-info There are currently no active games
    .row
      .col-sm-12
        h3.center create a game
    .row
      .col-sm-6.col-md-4.col-lg-3(v-for="genre in genres")
        include genre.pug