main.gameroom(v-if="playing")
  .container
    .row
      .col-xs-4
        h4 {{ game.genre }}
      .col-xs-4.center
        h4.hint-score(v-if='gamePlaying') {{ hintScore }}
      .col-xs-4.text-right
        button.btn.btn-link.leave.game.text-muted(type='button' title='leave game' v-on:click='leaveGame' v-if='gameOpen || gameOver')
          i.fa.fa-fw.fa-sign-out
        button.btn.btn-link.text-muted(type='button' title='playing' disabled v-else)
          i.fa.fa-fw.fa-play
    .row
      .col-xs-12
        hr
        
  .players
    .player(v-for="player in players")
      img.rounded(v-bind:src="player.photoURL" v-bind:class="{ 'host-marker': player.uid==game.hostId }")
      .answered.center(v-if="player.answered >= 0")
        small.text-success {{ player.answered }}
  
  .gameboard
    .btn.btn-success.btn-lg.start.game(v-if='gameHost && gameOpen' v-on:click='playGame')
      | Start Game
    .waiting(v-else-if='gameOpen')
      .text-muted waiting for host to start game...
    .playing(v-else-if='gamePlaying')
      .trivia-box
        .hints
          .hint.center(v-for="(hint, index) in hints")
            transition(name='hint' v-if='index==hintNumber' appear) 
              .hint-box(v-html="hint")
        .choices
          .choice.center(v-for="choice in choices")
            button.btn.btn-secondary.btn-lg.btn-block(v-on:click='selectAnswer' v-bind:disabled='!showChoices') {{ choice }}
    .over(v-else-if='gameOver')
      include results.pug
