main.gameroom(v-if="playing")
  .container
    .row
      .col-xs-10
        h4 {{ game.genre }}
      .col-xs-2.text-right
        button.close(type='button' aria-label='Close' v-on:click='deleteGame' v-if='canControlGame')
          span(aria-hidden='true') &times;
        button.btn.btn-link.leave.game.text-muted(type='button' title='leave game' v-on:click='leaveGame' v-else-if='canLeaveGame')
          i.fa.fa-fw.fa-sign-out
        button.btn.btn-link.text-muted(type='button' title='playing' disabled v-else)
          i.fa.fa-fw.fa-play
    .row
      .col-xs-12
        hr
        
  .players
    .player(v-for="player in players")
      img.rounded(v-bind:src="player.photoURL")
  
  .gameboard
    .btn.btn-success.btn-lg.start.game(v-if='canControlGame' v-on:click='startGame')
      | Start Game
    .waiting(v-else-if='canLeaveGame')
      .text-muted waiting for host to start game...
    .started(v-else-if='gameStarting')
      div(v-for='number in [5,4,3,2,1]')
        transition(name='bounce' v-if='countdown == number' appear)
          .countdown.text-muted {{ countdown }}
    .playing(v-else-if='gamePlaying')
      .container
        .hint(v-for="(hint, index) in hints")
          transition(name='hint' v-if='index==hintNumber' appear)
            .row
              .col-sm-12.center(v-html="hint")
        hr
        .choice.center(v-for="choice in choices")
          .btn.btn-secondary.btn-lg.btn-block {{ choice }}
