main.game(v-else-if="authenticated")
  include nav.pug

  .container
    .row
      .col-sm-12
        h3.center join a game
    .row
      .game-row
        div(v-for="game in games")
          include game.pug
      .game-row
        div(v-if="games.length==0")
          .alert.alert-info There are currently no active games
    .row
      .col-sm-12
        h3.center create a game
    .row
      .col-sm-6.col-md-4.col-lg-3(v-for="genre in genres")
        include genre.pug