main(v-else)

  div.signin(v-if='signingIn')
    button.btn.signin-btn
      i.fa.fa-fw.fa-4x.fa-spinner.fa-pulse
    
  div.signin(v-else)
    button.btn.btn-github.signin-btn(v-on:click="githubSignIn")
      i.fa.fa-fw.fa-4x.fa-github

    button.btn.btn-facebook.signin-btn(v-on:click="facebookSignIn")
      i.fa.fa-fw.fa-4x.fa-facebook

    button.btn.btn-google.signin-btn(v-on:click="googleSignIn")
      i.fa.fa-fw.fa-4x.fa-google