main.signin(v-else)

  button.btn.btn-github.signin-btn(v-on:click="githubSignIn" v-bind:disabled="signingIn")
    i.fa.fa-fw.fa-4x.fa-github(v-bind:class="{ 'hidden-xs-up': signingIn }")
    i.fa.fa-fw.fa-4x.fa-spinner.fa-pulse(v-bind:class="{ 'hidden-xs-up': !signingIn }")
    
  button.btn.btn-google.signin-btn(v-on:click="googleSignIn" v-bind:disabled="signingIn")
    i.fa.fa-fw.fa-4x.fa-google(v-bind:class="{ 'hidden-xs-up': signingIn }")
    i.fa.fa-fw.fa-4x.fa-spinner.fa-pulse(v-bind:class="{ 'hidden-xs-up': !signingIn }")