.login
  display: flex
  height: 100vh
  margin: 0
  align-items: center
  justify-content: center
  
a.nav-link,
button.btn-link
  color: white
  
.navigation a,
.navigation a:hover
.navigation button,
.navigation button:hover
  color: white
  
nav.navigation
  display: flex
  flex-direction: row
  justify-content: space-between
  background-color: #373a3c
  color: white
  padding: .5em 2em

.rounded
  height: 23px
  margin-right: 1em
  border-radius: 50%
  
.container
  margin-top: 2em
  
button.btn.btn-primary
  background-color: white
  color: black
  
.center
  text-align: center
  
#game h3
  text-transform: uppercase
  margin: 1em 0
  
.btn-game
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 1em
  
.game.photo
  height: 46px
  margin: .5em