[v-cloak]
  display: none
  
.text-right
  text-align: right

.signin
  display: flex
  height: 100vh
  margin: 0
  align-items: center
  justify-content: space-around
  
.btn.btn-facebook
  background-color: #3b5998
  color: white
  
.btn.btn-github
  background-color: #333
  color: white

.btn.btn-google-plus
  background-color: #dd4b39
  color: white
  
.gameboard
  display: flex
  margin: 0
  margin-top: 2rem
  align-items: center
  justify-content: space-around
  
.game-row
  display: flex
  align-items: center
  justify-content: space-around
  flex-wrap: wrap
  
.game-row .btn-game
  margin: 1em
  width: 150px
  
.players
  display: flex
  flex-direction: row
  justify-content: center
  
.player
  padding: 0 .25em
  
a.nav-link,
button.btn-link
  color: white
  
.navigation a,
.navigation a:hover
.navigation button,
.navigation button:hover
  color: white
  
nav.navigation
  display: flex
  flex-direction: row
  justify-content: space-between
  background-color: #373a3c
  color: white
  padding: .5em 2em

.rounded
  height: 23px
  border-radius: 50%

.signout-btn img.rounded
  margin-right: 1em
  
.container
  margin-top: 2em
  
.btn.create.game
.btn.start.game
.btn.leave.game
  background-color: white
  color: black
  
.center
  text-align: center
  
#game h3
  text-transform: uppercase
  margin: 1em 0
  
.btn-game
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 1em
  
.game.photo
  height: 46px
  margin: .5em
  
.countdown
  font-size: 4em
  
.bounce-enter-active 
  font-size: 4em
  animation: bounce-in 1s

.bounce-leave-active
  opacity: 0

@keyframes bounce-in 
  0% 
    transform: scale(0)
  50% 
    transform: scale(2)
  100% 
    transform: scale(0)

.hint
  font-size: 2em
  animation: hint-in 3s
  
@keyframes hint-in
  0% 
    transform: scale(0.1)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1
  
.choice
  margin-bottom: 1rem
  